/* This stylesheet is used to style the admin option form of the plugin. */

/* Layout the page similar to the built-in post edit screen. */

#gum-settings {
	margin-right: 310px;
}

#gum-settings-content {
	width: 100%;
	float: left;
}

#gum-settings-sidebar {
	float: right;
	margin-top: 9px;
	margin-right: -310px;
	width: 290px;
}

#gum-settings-sidebar {
	font-family: "Lato", sans-serif; /* Base font from Flat UI body tag. */
}

/* Sidebar container. Taken from Flat UI .tile & popover classes. */

#gum-settings-sidebar .sidebar-container {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 6px;
	font-size: 15px;
	margin-bottom: 18px;
	padding: 0;
	position: relative;
	text-align: left;
}

#gum-settings-sidebar .sidebar-title-large {
	background-color: #bcc3ca;
	border-bottom: 1px solid #ebebeb;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
	margin: 0;
	padding: 10px 20px 11px;
	text-align: center;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

#gum-settings-sidebar .sidebar-content {
	padding: 14px;
}

#gum-settings-sidebar .sidebar-content p {
	line-height: 1.4em;
	margin: 0 0 10px;
	text-align: center;
}

#gum-settings-sidebar .sidebar-content p.small-text {
	font-size: 13px;
}
