/*** Flat UI styles only ***/

/* Some elements of this plugin are derived from the Flat UI design framework at
 * http://designmodo.github.io/Flat-UI/ and http://designmodo.com/flat/
 */

@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");
@font-face {
	font-family: "Flat-UI-Icons";
	src: url("../fonts/Flat-UI-Icons.eot");
	src: url("../fonts/Flat-UI-Icons.eot?#iefix") format("embedded-opentype"), url("../fonts/Flat-UI-Icons.woff") format("woff"), url("../fonts/Flat-UI-Icons.ttf") format("truetype"), url("../fonts/Flat-UI-Icons.svg#Flat-UI-Icons") format("svg");
	font-weight: normal;
	font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'Flat-UI-Icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

/*** Glyphs ***/

.fui-arrow-right,
.fui-check,
.fui-cross,
.fui-pinterest {
	display: inline-block;
	font-family: 'Flat-UI-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}
.fui-arrow-right:before {
	content: "\e02c";
}
.fui-check:before {
	content: "\e00a";
}
.fui-cross:before {
	content: "\e00b";
}
.fui-pinterest:before {
	content: "\e046";
}
/* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */

/*** Button base ***/

.btn,
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
	font-size: 14.994px;
	/* 15px */

	font-weight: 500;
}
.btn {
	border: none;
	background: #bdc3c7;
	color: #ffffff;
	padding: 9px 12px 10px;
	line-height: 22px;
	text-decoration: none;
	text-shadow: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	-webkit-backface-visibility: hidden;
}
.btn:hover,
.btn:focus,
.btn-group:focus .btn.dropdown-toggle {
	background-color: #cacfd2;
	color: #ffffff;
	outline: none;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	-webkit-backface-visibility: hidden;
}
.btn:active,
.btn-group.open .btn.dropdown-toggle,
.btn.active {
	background-color: #a1a6a9;
	color: rgba(255, 255, 255, 0.75);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn.disabled,
.btn[disabled] {
	background-color: #bdc3c7;
	color: rgba(255, 255, 255, 0.75);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.btn.btn-huge {
	font-size: 21.994px;
	/* 22px */

	line-height: 22px;
	padding: 15px 20px 16px;
}
.btn.btn-huge > [class^="fui-"] {
	top: 1px;
}
.btn.btn-huge > [class^="fui-"].pull-right {
	margin-right: -2px;
}
.btn.btn-large {
	font-size: 16.996px;
	/* 17px */

	line-height: 20px;
	padding: 12px 18px 13px;
}
.btn.btn-large > [class^="fui-"] {
	top: 0;
}
.btn.btn-large > [class^="fui-"].pull-right {
	margin-right: -2px;
}
.btn.btn-small {
	font-size: 12.992px;
	/* 13px */

	line-height: 20px;
	padding: 6px 13px 8px;
}
.btn.btn-small > [class^="fui-"] {
	top: 1px;
}
.btn.btn-mini {
	font-size: 11.998px;
	/* 12px */

	padding: 8px 13px 9px;
	line-height: 1.2;
}
.btn.btn-mini > [class^="fui-"] {
	top: 0;
}
.btn.btn-embossed {
	-webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}
.btn.btn-embossed.active,
.btn.btn-embossed:active {
	-webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
}
.btn.btn-wide {
	min-width: 140px;
	padding-left: 30px;
	padding-right: 30px;
}

/*** Button palettes ***/

.btn.btn-danger {
	background-color: #e74c3c;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn-group:focus .btn.btn-danger.dropdown-toggle {
	background-color: #ec7063;
}
.btn.btn-danger:active,
.btn-group.open .btn.btn-danger.dropdown-toggle,
.btn.btn-danger.active {
	background-color: #c44133;
}
.btn.btn-inverse {
	background-color: #34495e;
}
.btn.btn-inverse:hover,
.btn.btn-inverse:focus,
.btn-group:focus .btn.btn-inverse.dropdown-toggle {
	background-color: #415b76;
}
.btn.btn-inverse:active,
.btn-group.open .btn.btn-inverse.dropdown-toggle,
.btn.btn-inverse.active {
	background-color: #2c3e50;
}
